{% extends "posts/home.html" %}
{% load static %}
{% block content %}
  {% if user.is_authenticated %}
    {% for post in posts %}
        <article class="media content-section">
          {% if post.user.profile.profile_pic %}
          <img class="rounded-circle article-img" src="{{post.user.profile.profile_pic.url}}">
          {% endif %}
          <div class="media-body">
            <div class="article-metadata">
              {% if post.user.first_name|length > 1 or post.user.last_name|length >= 1 %}
                <a class="mr-2" href="{% url 'users:user-profile' post.user.id %}">{{ post.user.first_name }}  {{ post.user.last_name }}</a>
              {% else %}
                <a class="mr-2" href="{% url 'users:user-profile' post.user.id %}">{{ post.user.username }}</a>
              {% endif %}
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'posts:post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            {% if post.photo %}
            <img class="article-image" src="{{post.photo.url}}">
            {% endif %}
          </div>
        </article>
      {% endfor %}
  {% endif %}
{% endblock content %}